window-rule {
    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^(notifications|bar)$"
    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

recent-windows {
    off
}

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}
