
name: Cleanup Skipped Runs

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  actions: write

jobs:
  delete-skipped:
    runs-on: ubuntu-latest
    steps:
      - uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_workflow_pattern: "Deploy Yen"
          delete_run_by_conclusion_pattern: "skipped"
